<%- model_class = SmsMessage -%>
<ol class="breadcrumb">
  <li><%=link_to 'Dashboard', root_path%></li>
  <li class="active">
    Thread for #
    <%=@thread.subject_number%></li>
</ol>
<div class="panel">
  <%=simple_form_for([@thread, SmsMessage.new]) do |f|%>
      <%=f.input :body, label: false, placeholder: 'Simulate receiving message'%>
      <%=f.submit%>
  <% end%>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:user) %></th>
    <th><%= model_class.human_attribute_name(:from_number) %></th>
    <th><%= model_class.human_attribute_name(:to_number) %></th>
    <th><%= model_class.human_attribute_name(:body) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
  </tr>
  </thead>
  <tbody>
  <% @sms_messages.each do |sms_message| %>
      <tr class=sms_message.outbound?  ? 'outbound' : ''>
        <td><%= sms_message.user.try :name %></td>
        <td><%= sms_message.from_number %></td>
        <td><%= sms_message.to_number %></td>
        <td><%= sms_message.body %></td>
        <td><%=l sms_message.created_at %></td>
      </tr>

  <% end %>
  </tbody>
</table>

